*{
    padding: 0;
    margin: 0;
    color: #976c4c;
}
body{
    background-color: #f4eddd;
}


.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main{
    padding: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main>li{
    margin: 5px;
    width: 15em;
}
.title{
    padding-top: 10px;
    width: 5em;
    font-size: 3em;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    display: block;
    text-align: center;
    background-color: #e0b971;
}

.prodName{
    margin-top: 30px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
.prodName span{
    padding-top: 5px;
    display: block;
    width: 100%;
    border-bottom: 2px solid #976c4c;
}

.products{
    list-style: none;
    font-family: 'Roboto Slab', serif;
}

.products>li{
display: flex;
justify-content: space-between;
padding: 7px 0;
}

.adds{
    padding-left: 20px;
}

@media screen and (max-width: 550px) {
    .main{
        flex-direction: column;
        align-items: center;
    }
    .main>li {
        width: 90%;
    }
}