*{
    padding: 0;
    margin: 0;
    font-family: 'EB Garamond', serif;
    color: #3D2643;
}

html{
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(back2.png);
    /* background-image: url(ground.png); */
    /* background-image: url(back.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FEF6E9;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    body{
        background-image: url(back.png);;
    }
}


.main{   
    width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1{
    font-size: 4rem;
    text-align: center;
}

.title{
    width: 20rem;
}

li{
    margin-left: 40px;
    margin-right: 15px;
    font-size: 1.5rem;
}