*{
    padding: 0;
    margin: 0;
}
.item{
    list-style: none;
}

.card{
    width: 400px;
    max-height: 27px;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
}


.card:hover{
    transition: max-height 0.25s ease-in;
    max-height: max-content;
}

.card .prodname>span:last-child{
    transition: opacity .3s .2s;
}
.card:hover .prodname>span:last-child{
    opacity: 0;
}
.content{
    max-height: 0;
    transition: max-height 0.15s ease-in;
    overflow: hidden;
}

.card:hover .content {
    max-height: 800px;
    transition: max-height 0.25s ease-in;
}

.content img{
    width: 100%;
}

.price{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}